extends layout

block content
  header
    h1 J blog
  nav
    ul
      each link in nav
        li
          a(href=link.url)= link.title
  article.article-list
    h2.article-title= title
    table.list-wrapper
      tbody
        each item in list
          tr
            td: a(href="article/" + item.id)= item.title
            td.right: time= item.time